.awssld__bullets{
    display: none !important;
    width:80% !important;
}

.awssld__bullets > button {
    display:none;
}

.awssld__content > img {
    object-fit:unset;
}

.awssld__timer {
    display:none;
}

