.footer {
    position:fixed;
    left:0;
    bottom:0;
    width:100%;
    background-color: white;
    z-index:999;
    border-top:2px solid lightgray;
}

.footer_navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:auto;
    height:60px;
    margin-bottom: 15px;
}

.footer_button {
    margin: auto;
    text-align: center;
    display: block;
    height: 40px;
    width:45px;
  }

.footer_button img {
    display: block;
    margin: auto;
    width:25px;
    height: 25px;
  }

.footer_camera {
    display: flex;
    margin: auto;
    height: 30px;
    width: 30px;
    padding-top:10px;
}

.footer_camerabutton {
margin: auto;
text-align: center;
display: block;
height: 35px;
}

.circle {
    box-shadow: 2px 2px 2px 2px gray;
    background-color: #FFE969;
    border-radius: 50%;
    line-height: 150px;
    height:60px;
    width:60px;
    text-align: center;
    margin-top: -5px;
}

.icontext {
    margin-top:3px;
    font-size: 15px;
}