.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top:10px;
  margin-left:10px;
}

.header_navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.header_logo{
  width: 10vw;
}

.header_title {
  margin-left: 10px;
  width: 30vw;
}