.backbtn {
    background-color: white;
    border:none;
    margin-top:10px;
    margin-bottom:10px;
}

.backicon {
    width:25px;
    height:25px;
}

.feeds {
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(40%, 1fr));
    grid-gap: 15px;
    margin:auto;
}

.feed {
    width:100%;
    text-align: center;
}

.picture {
    width:80%;
    text-align: center;
}

.modal {
    position: absolute;
    top: 22%;
    left: 20%;
    right: 20%;
    bottom: 22%;
    background-color: white;
    border: 2px solid lightgray;
    border-radius: 30px;
}

.modalcontent {
    position: absolute;
    font-family: 'neodgm';
    text-align: center;
    padding:10px;
}

.modalHeader {
    text-align: right;
    margin-right:5%;
    margin-top:5%;
}

.closebtn {
    right:0;
    background-color: white;
    border:none;
    font-family: "neodgm";
    font-size:20px;
}

.sirenicon {
    width:15px;
    height:15px;
}

.reportbtn {
    background-color: white;
    border: none;
    font-family: 'neodgm';
    margin-left:40%;
    margin-top:5px;
}

.detail {
    text-align: left;
    margin-left: 10%;
}

.feedHeader {
    display: flex;
    flex-direction: row;
}