
.listbtn {
    background: none;
    border: none;
    padding: 5px;
    text-align: right;
  }

  .listicon {
    width: 20px;
    height:20px;
    text-align: right;
  }
  
  .selectBox {
    font-family: 'neodgm';
    width: 31%;
    border: 2px solid lightgray;
    border-radius: 10px;
    font-size:15px;
    padding:2px;
    color:black;
    background-color: white;
}

.feeds {
    margin-top:10px;
    border: 2px solid lightgray;
    border-radius: 20px;
    
}

.feedImg {
    width:80%;
    margin:auto;
    margin-bottom:5px;
}

.modalheader {
    border: none !important;
    font-family: 'neodgm';
    padding-bottom:0 !important;
}

.modalcontent {
    font-family: 'neodgm';
    text-align: center;
    padding:10px;
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
}

.feedsImg {
    text-align: center;
    margin-bottom:10px;
}

.list {
    text-align: right;
    margin-right: 10%;
    margin-top:10px;
}

.dialog{
    overflow-y: initial !important
  }

.body {
    overflow-y: scroll !important;
    height:400px;
}