svg {
  display: block;
  width: 100%;
  height: 400px;
  fill: lightgrey;
  stroke: white;
}

svg text {
  fill: black;
  stroke: black;
  stroke-width: 0.1px;
}

svg path:hover {
  stroke: white;
  fill: #fffb84;
  stroke-width: 1px;
  cursor: pointer;
}

svg path:active,
path:visited {
  fill: #d0fff7;
}

svg text {
  font-size: 25px;
  stroke: black;
  fill: black;
}

circle:hover {
  fill: black;
}