.containers {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:auto;
}

.miraclemorning {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:80%;
    height:30vh;
}

.miraclemorning img {
    margin:auto;
    width:80%;
    height:80%;
}

.health {
    display: flex;
    flex-direction: column;
    margin: auto;
    width:80%;
    height:30vh;
}

.health img {
    margin:auto;
    width:80%;
    height:80%;
}

.study {
    display: flex;
    flex-direction: column;
    margin:auto;
    width:80%;
    height:30vh;
}

.study img {
    margin:auto;
    width:80%;
    height:80%;
}

.header {
    width:80%;
    display:flex;
    justify-content: space-between;
    margin:auto;
    align-items: center;
}

.header p {
    font-size: 20px;
    color: #0930a5 ;
}

.communitybtn {
    background-color: white;
    border: none;
    font-family: "neodgm";
    font-size:20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.communityicon {
    width:25px;
    height:25px;
    margin-right:5px;
}

.containers p {
    margin-bottom:0;
    margin-left:10%;
}

.footer_camera {
    display: flex;
    margin: auto;
    /* height: 30px; */
    width: 31px;
    padding-top:14px;
  }
  
  .footer_camerabutton {
    text-align: center;
    display: block;
    position:fixed;
    bottom:60px;
    width:100%;
    z-index:999;
    left: 80%;
  }
  
  .circle {
    /* box-shadow: 2px 2px 2px 2px gray; */
    background-color: #FFE969;
    border-radius: 50%;
    height:60px;
    width:60px;
    text-align: center;
    margin-top: -5px;
  }