@font-face {
  font-family: "neodgm";
  src: url("./assets/fonts/neodgm.ttf");
}

.App{
  font-family: 'neodgm';
}

.content{
  height: 30vh;
  background-color: #FFFB84;
  text-align: center;
  margin: auto;
  padding: 30px;
  font-size: 35px;
}