.backbtn {
    background-color: white;
    border:none;
    margin-top:10px;
    color:black;
}

.backicon {
    width:25px;
    height:25px;
}

.mainContainer {
    width:90%;
    display: flex;
    flex-direction: column;
    margin:auto;
}

.morningimg {
    width:60px;
    height:60px;
    margin:auto;
    margin-top:70px;
    margin-bottom: 70px;
}

.reward {
    display: flex;
    flex-direction: row;
    text-align: left;
    margin-bottom:10px;
}

.subtext {
    margin-bottom:2px;
    margin-top:0;
    font-size: 15px;
}

.titletext {
    margin-top:10px;
    font-size: 18px;
    margin-bottom:2px;
    background-color: #d0fff7b9  ;
    padding:2px;
    width:100px;
    text-align: center;
    color:black;
}

.coin {
    width:20px !important;
    height:20px;
    margin-top:auto;
    margin-bottom: auto;
    margin-left:3px;
    margin-right:3px;
}

.detailbtn {
    background-color: #00000000;
    border-radius:20px;
    font-family: 'neodgm';
    font-size:18px;
    border: 2px solid #a3f7e9;
    margin:auto;
    padding:5px;
    padding-left:10px;
    padding-right:10px;
    color:black;
}